.composite-title, .composite-title, .vs-dark .monaco-workbench>.activitybar>.content {
  background-color: rgba(40, 44, 52, 1) !important;
}

.tabs-container, .tab, .tab.active, .title-actions, .tablist, .tabs-container, .tabs, .composite.title {
  background-color: rgba(40, 44, 52, 1) !important;
}

.tab.active, .tab {
  border-right: 0px !important;
  border-left: 0px !important;
}

.tab.active {
  border-bottom: 2px solid #FFFF00 !important;
}

.title.tabs.active, .tabs, .tablist, .tabs-container, .tab, .composite-title, .composite.title {
  height: 34px !important;
}

.vs-dark .monaco-workbench>.part.editor>.content>.one-editor-silo>.container>.title.tabs:before {
  border: 0px !important;
}

.title.tabs::before {
  border: 0px !important;
}

.monaco-workbench>.part>.composite.title {
  align-items: center;
}

.part.editor.has-watermark {
  box-shadow: -1px 1px 2px -1px rgba(14,15,18,1) !important;
}

.part.panel {
  box-shadow: -1px 1px 2px -1px rgba(14,15,18,1) !important;
}

.part.sidebar.left {
  box-shadow: -1px 1px 2px -1px rgba(14,15,18,1) !important;
}

.content{
  background-color: rgba(40, 44, 52, 1) !important;
}

.part.titlebar {
  background-color: rgba(40, 44, 52, 1) !important;
  border-bottom:1px solid rgba(14,15,18,0.4)
}

.part.statusbar {
  background-color: rgba(40, 44, 52, 1) !important;
  border-top:1px solid rgba(14,15,18,0.4)
}

.monaco-tree-wrapper{
  background-color: rgba(40, 44, 52, 1) !important;
}

.monaco-split-view {
  background-color: rgba(40, 44, 52, 1) !important;
}

.search-viewlet {
  background-color: rgba(40, 44, 52, 1) !important;
}

.git-viewlet {
  background-color: rgba(40, 44, 52, 1) !important;
}

.monaco-split-view .vertical {
  background-color: rgba(40, 44, 52, 0.7) !important;
}

.monaco-button.toggle-replace-button.expand{
  background-color: rgba(40, 44, 52, 0.7) !important;
}

span[title="Explorer"], .vs-dark .monaco-workbench>.part>.composite.title>.title-label span {
  color: white;
}
